server:
  port: 9090

spring:
#Data source
datasource:
  driverClassName: com.mysql.jdbc.Driver
  dbcp2:
    test-on-borrow: true
    validation-query: SELECT 1
# JPA
jpa:
  hibernate.ddl-auto: none
  generate-ddl: false
  show-sql: true
  properties:
    hibernate:
      dialect: org.hibernate.dialect.MySQL55Dialect
#Health
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"